body {
  background-color: rgb(40, 44, 52);
  color: rgb(221, 221, 222);
  display: grid;
  justify-content: center;
}

.grid-container {
  background-color: rgb(40, 44, 52);
  color: rgb(221, 221, 222);
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.SearchBar {
  width: 30%;
}

input {
  background-color: rgb(33, 37, 43);
  border-color: rgb(40, 44, 52);
  color: rgb(221, 221, 222);
}
